.product {
    width: 100%;
    height: 100%;

    .product_zone1 {
        display: flex;
        .product_text1 {
            width: 45%;
            height: 300px;
            padding: 60px;
            
            h1 {
                font-size: 35px;
                padding-bottom: 30px;

            }
            .text1_content {
                width: 65%;
                margin-bottom: 20px;
                p {
                    font-size: 20px;
                    line-height: 39px;
                }
            }
            .product_more {
                a {
                    text-decoration: none;
                    color: #226641;
                    font-size: 25px;
                    border: 1px solid #226641;
                    padding: 10px 55px;
                    transition: 0.5s;
                    &:hover {
                        color: white;
                        background-color: #226641;
                    }
                }
            }
        }

        .product_pic1 {
            width: 60%;
            height: 450px;
            // border:1px solid black;
            margin-top: 80px;
            background-image: url(img/drink1.jpg);
            background-size: cover;
            background-position: 0 -700px;
        }
    }
    .product_zone2 {
        display: flex;

        .product_pic2 {
            width: 60%;
            height: 450px;
            // border:1px solid black;
            margin-top: 80px;
            background-image: url(img/drink2.jpg);
            background-size: cover;
            background-position: 0 -800px;
            // background-repeat:no-repeat;
        }
        .product_text2 {
            width: 45%;
            height: 300px;
            padding: 60px;
            
           
            p {
                font-size: 20px;
                line-height: 39px;
                margin-bottom: 20px;
            }
            

            h1 {
                font-size: 35px;
                padding-bottom: 30px;
            }
            .text1_content {
                width: 65%;
            
                p {
                    font-size: 20px;
                    line-height: 45px;
                }
            }
            .product_more {
                a {
                    text-decoration: none;
                    color: #226641;
                    font-size: 25px;
                    border: 1px solid #226641;
                    padding: 10px 55px;
                    transition: 0.5s;
                    &:hover {
                        color: white;
                        background-color: #226641;
                    }
                }
            }
        }
    }
    .product_zone3 {
        display: flex;
        .product_text3 {
            width: 45%;
            height: 300px;
            padding: 60px;
            h1 {
                font-size: 35px;
                padding-bottom: 30px;
            }
            .text3_content {
                width: 65%;
                margin-bottom: 20px;
                p {
                    font-size: 20px;
                    line-height: 45px;
                }
            }
            .product_more {
                a {
                    text-decoration: none;
                    color: #226641;
                    font-size: 25px;
                    border: 1px solid #226641;
                    padding: 10px 55px;
                    transition: 0.5s;
                    &:hover {
                        color: white;
                        background-color: #226641;
                    }
                }
            }
        }
        .product_pic3 {
            width: 60%;
            height: 450px;
            // border:1px solid black;
            margin-top: 80px;
            background-image: url(img/drink3.jpg);
            background-size: cover;
            background-position: 0 -550px;
        }
       
    }





}
